body{
    background-color: gray;
}

#game{

}

#myCanvas{
    position:absolute;
    left:0px;
    top:0px;
    z-index: 1;
}

#playerLayer{
    position:absolute;
    left:0px;
    top:0px;
    z-index: 3;
}

#bombLayer{
    position:absolute;
    left:0px;
    top:0px;
    z-index: 2;
}